<div class="mt-3 d-flex justify-content-center">
    <form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST">
        <div class="input-group flex-nowrap mb-1" style="width: 1000px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">餐廳名稱</span>
            <input type="text" class="form-control" name="name" value="{{ restaurant.name }}" maxlength="10" required>
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 1000px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">餐廳種類</span>
            <input type="text" class="form-control" name="category" value="{{ restaurant.category }}" maxlength="10" required>
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 1000px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">餐廳地址</span>
            <input type="text" class="form-control" name="location" value="{{ restaurant.location }}" maxlength="30" required>
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 1000px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">電話號碼</span>
            <input type="tel" class="form-control" name="phone" value="{{ restaurant.phone }}" placeholder="03-XXXXXXX or 09-XXX" pattern="[0-9]{2}-[0-9]{5,8}" required>
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 1000px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">餐廳描述</span>
            <input type="text" class="form-control" name="description" value="{{ restaurant.description }}" maxlength="100" required>
        </div>
        <div class="input-group flex-nowrap mb-1" style="width: 1000px;">
            <span style="width: 175px;" class="input-group-text" id="addon-wrapping">圖片連結</span>
            <input type="url" class="form-control" name="image" value="{{ restaurant.image }}" pattern="https?://.+" title="https://" maxlength="2048" required>
        </div>
        <div class="mt-3 d-flex justify-content-evenly">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="/"><button type="button" class="btn btn-primary">Back</button></a>
        </div>
    </form>
</div>